/*
https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB587940754_.png
*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    background-color: rgb(19, 25, 33);
    height: 60px;
    color: white;
}


.container {
    width: 99%;
    /* background-color: red; */
    height: 100%;
    margin: auto;

}

.container-header {
    display: flex;
    align-items: center;
}

/**logo***/
.logo-container {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;


    /* overflow: hidden; */
}

.logo {
    width: 120px;
    height: 50px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
    background-repeat: no-repeat;
    background-position-y: -40px;
    overflow: hidden;
}

.dotin {
    position: relative;
    margin-left: -40px;
    margin-top: -5px;
}

.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}

.border-white:hover {
    border: 1.5px solid #ffffff;
}

/***********addresss************/
.address-container {
    margin-left: 10px;
}

.address-container p {
    margin: 0;
}

.icon-address {
    display: flex;
    align-items: center;
}

.hello {
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}

.icon-location {
    margin-right: 7px;
}

.search-container{
    background-color: rgb(229, 220, 245);
    margin-left: 25px;
    width: 750px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    outline: 3px solid orange;
}

.search-select{
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon{
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}

.language-container{
    margin-left: 25px;
}
.language-container p{
    font-size: 0.8rem;
    margin: 0;
}

.languange-image{
    width: 20px;
}
.languange-image img{
    width: 100%;
}

.sign-in{
    padding: 5px ;
    display: flex;
    height: 100%;

    width:fit-content;
    margin-left:  15px;
    position: relative;
}
.sign-in p{
    margin: 0;
}

.sign-select-box{
    
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #fff;
 
    position: absolute;
    top: 45px;
    right: -120px;
    text-transform: capitalize;
    color: #000;
    /* display: none; */

 z-index: 10;
}
/* .sign-in:hover .sign-select-box{
    display: block;
} */
.sign-select-box.active{ 
display: none;
 
}
.sign-select-box .top-part-sel{
 width: 100%;
 /* padding:  10px ; */
 border-bottom: 1px solid #cecdcd;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: relative;

}
.sign-select-box .top-part-sel .trian2{
    position: absolute;
    top: -28px;
    width: 0;
  
    right: 100px;

  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;

}
.sign-select-box .top-part-sel button{
    width: 200px;
    border-radius: 5px;
    text-transform: capitalize;

padding: 10px 40px;
font-size: .9rem;
border: 1px solid rgb(255, 123, 0);
background-color: rgb(231, 177, 0);
color: #000;

margin-bottom: 5px;

}
.sign-select-box .top-part-sel p{
    margin-top: 5px;
   margin-bottom: 10px;
   text-align: center;
   font-size: .7rem;

}
.sign-select-box .top-part-sel p a{
    color: rgb(0, 110, 255);

}
.sign-select-box .top-part-sel p a:hover{
   color: orange;
}
.sign-select-box .l-r-box-wrap{
display: flex;
padding: 10px 0;
}
.sign-select-box .l-r-box-wrap h3{
margin-bottom: 5px;
}
.sign-select-box .l-r-box-wrap li{
list-style: none;
font-size: .9rem;
margin: 8px 0;

}
.sign-select-box .l-r-box-wrap li:hover{
    color: orange;
    cursor: pointer;
}
.sign-select-box .l-r-box-wrap .left-part-sel{
width: 50%;
border-right: 1px solid #cecdcd;
}
.sign-select-box .l-r-box-wrap .right-part-sel{
width: 50%;
margin-left: 40px;

}




.sign-in .down{
    margin-top: 14px;
    margin-left:5px;
}
.account{
    font-weight: 900;
    font-size: 1.1rem;
}

.return-order-container{
    width: 65px;
    font-size: 0.9rem;
    margin-left: 35px;
}
.return-order-container p {
    margin: 0;
}
.order{
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    width: 60px;
}

.cart-container {
    font-size: 1.1rem;
    display: flex;
    margin-left: 35px;
}

.cart-container i {
    font-size: 1rem;
}

.nav {
    height: 40px;
    background-color: #232f3d;
    margin: 0;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}
.container-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: white;
    list-style: none;
}

.container-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 2px;

}
.nav-right-amazon-prime{
    min-width: 300px;
    height: 300;
    max-width: 500px;
}
.nav-right-amazon-prime img{
    width: 100%;
    height: 100%;
}

.prime-image {
    background-color: white;
    height: 350px;
    width: 350px;
    position: absolute;
    z-index: 1;
    display: none;
    color: #000;
    margin-left: -10px;
    transition: display 1s;
    padding: 10px;
}

.prime-image-hover:hover .prime-image {
    transition: display 1s;
    display: block;
}

.prime-image img {
    width: 100%;
    height: 100%;
}

.image-container{
    position: relative;
}
.image-list{
    display: flex;
    overflow: hidden;
}
.image-item{
    min-width: 100%;
   /* transform: translateX(-300%); */
   transform: transform 0.3s;
}
.image-item img{
    width: 100%;
    height: 100%;
}

.image-btn-container{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-btn{
    border: 1px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    color: #000;
}
.slider-btn i{
    font-weight: 900;
}
.slider-btn:focus{
    border-color: seagreen;
    box-shadow: -2px -2px 2px white,2px 2px 2px white;
    margin: 2px;
}

#open-nav-sidebar {
    cursor: pointer;
}

.sidebar-container-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    transform: translateX(-100%);
    display: flex;
    transition: transform 0.3s;


}

.slidebar-show {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-left-part {
    background-color: white;
    width: 365px;
    height: 100%;
    box-sizing: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.sidebar-top {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-left: 30px;
    background-color: rgb(19, 25, 33);
    color: white;
}

.sidebar-top h2 {
    font-size: 22px;
    margin: 0;
}

.sidebar-top i {
    padding-right: 10px;
    font-size: 25px;
}

.sidebar-item {
    padding-left: 30px;
    border-top: 1.5px solid #ccc;
}

.sidebar-item h2 {
    font-size: 20px;
}

.sidebar-item p {
    color: rgb(65, 62, 62);
}

#sidebar-navigation-close {
    background-color: transparent;
    align-self: flex-start;
    font-size: 30px;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.sidebar-wrap {
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

/*product card container*/
.sec-1{
    position: relative;
    top: -550px;
    /* background-color: rgb(196, 240, 240); */
    /* filter: blur(8px); */
    
}
.productBackgraound{
    background-color: rgba(213, 247, 247,0.4);
}
.card-product-container{
    position: relative;
    transform: translateY(260px);
    top: 0;
    
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;

}
.card-product{
    background-color: white;
    padding: 10px ;
    overflow: hidden;
    width: 330px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: -2px -0px 12px rgba(196, 240, 240,0.5),
    20px 20px 2px rgba(196, 240, 240,0.5);
}
.card-product h3{
    text-transform: capitalize;
    margin-bottom: 10px;
    
}

.card-product-nested-card {
    width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
        gap: 10px;

}

.card-product-nested-card .card-nested{
    margin: 15px 5px;
    width: 140px;
    height: 120px;
}

.card-product-nested-card .card-nested p{
    font-size: .8rem;
}
.card-product-nested-card .card-nested img {
    width: 100%;
    height: 100%;

}
.card-product-btn{
    display: block;
    text-decoration: none;
    margin-top: 40px;
    text-align: left;
    background-color: transparent;
    border:none;
    color:rgb(25, 105, 105)
}
.card-product-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sec-2{
    width: 100%;
    height: 315px;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}
.slide-sec h3{
    font-size: 20px;
    padding-bottom: 5px;
}
.slide-sec p a{
    color:rgb(39, 114, 107);
    text-decoration: none;
    padding-left: 50px;
    font-size: 20px;
}

.slide-sec p a:hover{
    text-decoration: underline;
}
.slide-sec{
    width: 100%;
    height: 100%;
    padding: 20px 20px 10px 20px;
    overflow-x: hidden;
    background-color: white;
    position: relative;
}
.product-slide{
    display: flex;
    margin-top: 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.product-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.product-slide::-webkit-scrollbar-thumb{
    border-radius: 10px;
    cursor: pointer;
}
.product-slide li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.l-btn,
.r-btn{
    background-color: rgb(255,255,255,1);
    height: 90px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    top: 35%;
    position: absolute;
    border: 3px solid transparent;
}
.l-btn{
    border-radius: 0 5px 5px 0;
    left: 20px;
}
.r-btn{
    border-radius: 5px 0 0 5px;
    right: 20px;
}
.l-btn:hover{
    border: 3px solid rgb(2,150,150);
}
.r-btn:hover{
    border: 3px solid rgb(2,150,150);
}
.r-btn i,
.l-btn i{
    color: rgb(54, 54, 54);
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 13%;
    right: 13%;
}
.sec-3{
    position: relative;
    top: -200px;
}

.sec-4{
    width: 100%;
    height: 315px;
    padding: 25px;
    padding-top: 80px;
    padding-bottom: 25px;
}


.slide-sec-1 h3{
    font-size: 20px;
    padding-bottom: 5px;
}
.slide-sec-1 p a{
    color:rgb(39, 114, 107);
    text-decoration: none;
    padding-left: 50px;
    font-size: 20px;
}

.slide-sec-1 p a:hover{
    text-decoration: underline;
}
.slide-sec-1{
    width: 100%;
    height: 100%;
    padding: 20px 20px 10px 20px;
    overflow-x: hidden;
    background-color: white;
    position: relative;
}
.product-slide-1{
    display: flex;
    margin-top: 5px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.product-slide-1::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.product-slide-1::-webkit-scrollbar-thumb{
    border-radius: 10px;
    cursor: pointer;
}
.product-slide-1 li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.add-section{
  
    width: 70%;
    height: 260px;
    margin: 30px auto;
 
   
  }
  .signin-box-last{
    background: #fff;
    padding: 40px 0;
    
}
.s-b-last{
    width: 100%;
    border-top:1px solid #ccc ;
    border-bottom:1px solid #ccc ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }
.s-b-last h5{
    text-transform: capitalize;
    margin-bottom:5px;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: normal;

  }
.s-b-last .btn{
    width: 20%;
     
    border-radius: 5px;
    text-transform: capitalize;

padding: 8px 40px;
font-size: .9rem;
font-weight: bold;
margin: 10px auto;
background-color: rgb(255, 206, 9);
color: #000;
border-radius:10px ;

  }
  /* backto top  */
  .backtop{
    text-align: center;
    height: 50px;
    background-color: #37475a;
    padding: 16px;
    cursor: pointer;
  }
  .backtop span{
    color: white;
    font-weight: bold;
  }
  .backtop:hover{
    background-color: #4d627c;
  }
  
  .footer-section{
    background: #232f3e;
   
  }
  .footer-container{
    display: flex;
    justify-content: center;
    padding: 40px 20px; 
    color: #fff;

  }
  .footer-container .f-h-c{
width: 200px;

margin: 0 30px;

  }
  .footer-container .f-h-c h3{
text-transform: capitalize;
margin-bottom: 10px;

  }
  .footer-container .f-h-c ul {
list-style: none;

  }
  .footer-container .f-h-c ul li {

margin: 10px 0;


  }
  .footer-container .f-h-c ul li a{
color: #fff;
font-size: .9rem;
text-transform: capitalize;

  }
  .footer-container .f-h-c ul li a:hover{
text-decoration: underline;

  }
  .footer-container-2{
    border-top: 1px solid #aaa;
    padding-top: 20px;
    padding-bottom:50px ;
  }
  .footer-container-2 .f-t-top{
   display: flex;
   color: #fff;
   justify-content: center;
   /* padding-top: 10px; */
   margin-bottom: 40px;
  }
  .logo{
margin-right: 30px;
  }

  .language-select-box.active{
    display: none;
}
.trian{
  position: absolute;
  top: -35px;
  width: 0;

  left: 28px;

border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #fff;

}

.language-select-box .top-lag{
display: flex;
border-bottom: 1px solid rgb(168, 167, 167);
padding-bottom: 10px;
position: relative;
}
.language-select-box .middle-lag{
    border-bottom: 1px solid rgb(168, 167, 167);
    padding: 7px 0;

}
.language-select-box .m-l-b{
   margin: 10px 0;
   font-size: .9rem;
   letter-spacing: 1px;
display: flex;

}
.language-select-box .m-l-b a{
color: rgb(0, 110, 255);

}
.language-select-box .circle{
width: 18px;
height: 18px;
border: 1px solid #000;
border-radius: 10px;
margin-right: 5px;
margin-bottom: 5px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.language-select-box .circle .cir{
   
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    top: 3px;
    left: 3px;
}

.language-select-box .m-l-b:hover {
    text-decoration: underline;
    color: orange;
    cursor: pointer;

}
.language-select-box .m-l-b:hover .circle::after{
content: "";
width: 50%;
height: 50%;
border-radius: 50%;
background-color: orange;
position: absolute;
top: 4px;
left: 4px;
}
.language-select-box .bottom-lag a{
    padding: 10px 0;
    font-size: .8rem;

        color: rgb(0, 110, 255);
        
       
}
.language-select-box .bottom-lag {
    padding: 10px 0;
    font-size: .8rem;

      
        
       
}
.language-select-box .bottom-lag .b-text{
   margin-bottom: 8px;
}

  .select-lang-box{
border: 1px solid #fff;
padding: 5px 10px;
cursor: pointer;
position: relative;
  }
  .select-lang-box:hover .language-select-box{
display: block;
  }
  .f-b-bottom ul{
    display: flex;
    color: #fff;
    justify-content: center;
    list-style: none;

  }
  .f-b-bottom ul li{
   margin: 0 10px;
   font-size: .9rem;


  }
  .last-footer-info{
      /* text-align: center; */
      
      color: #fff;
      padding: 50px;
      background: #0F1111;
    
    
    }
    .l-footer-link{
        display: flex;
        justify-content: center;
        
    }
    .l-f-i-part {
        width: 200px;

    }
    .l-f-i-part ul{
    
list-style: none;
    }
    .l-f-i-part ul li{
    
margin: 10px 0;
    }
    .last-footer-info p { 
        text-align: center;
        border-top: 1px solid #aaa;
        margin-top: 20px;
        padding: 10px;
    }
